# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/clauseguard_ai

# Security
JWT_SECRET=clauseguard_super_secure_jwt_secret_token_2026

# AI Microservice
AI_SERVICE_URL=http://127.0.0.1:8000
CHROMA_PERSIST_DIR=./chroma_db
